Initialization

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import os

#Creating directories
raw_data_dir = r"E:\AIML_Project\data\raw"
processed_dir = r"E:\AIML_Project\results\outputs"

In [2]:
#Loading the dataset

df = pd.read_csv("E:/AIML_Project/data/raw/adult.data", header=None)

display(df.head())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Maintaining 50-50 balance - Assigned to IT24102123

In [4]:
#Maintaining the 50-50 balance between <50k and >=50k

# Load from previous (reduction)
df_train = pd.read_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(03).csv'))
df_test = pd.read_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(03).csv'))

# Display initial class distribution
print("Before balancing:")
print("Training set class distribution:\n", df_train['income'].value_counts())
print("\nTest set class distribution:\n", df_test['income'].value_counts())

# Separate classes for training set
train_leq50k = df_train[df_train['income'] == '<=50K']
train_gt50k = df_train[df_train['income'] == '>50K']

# Get the number of >50K instances (minority class)
n_gt50k_train = len(train_gt50k)

# Randomly sample <=50K to match >50K count
train_leq50k_balanced = train_leq50k.sample(n=n_gt50k_train, random_state=42)

# Combine balanced classes
df_train_balanced = pd.concat([train_leq50k_balanced, train_gt50k], axis=0).sample(frac=1, random_state=42)

# Repeat for test set
test_leq50k = df_test[df_test['income'] == '<=50K']
test_gt50k = df_test[df_test['income'] == '>50K']
n_gt50k_test = len(test_gt50k)
test_leq50k_balanced = test_leq50k.sample(n=n_gt50k_test, random_state=42)
df_test_balanced = pd.concat([test_leq50k_balanced, test_gt50k], axis=0).sample(frac=1, random_state=42)

# Verify shapes and class distribution
print("\nAfter balancing:")
print("Training set shape:", df_train_balanced.shape)
print("Training set class distribution:\n", df_train_balanced['income'].value_counts())
print("\nTest set shape:", df_test_balanced.shape)
print("Test set class distribution:\n", df_test_balanced['income'].value_counts())

# Confirm column consistency
assert df_train_balanced.columns.equals(df_test_balanced.columns), "Column names mismatch between train/test!"

# Save balanced datasets
df_train_balanced.to_csv(os.path.join(processed_dir, 'IT_24102123_balanced_train.csv'), index=False)
df_test_balanced.to_csv(os.path.join(processed_dir, 'IT_24102123_balanced_test.csv'), index=False)
print("\nSaved balanced datasets to processed directory.")

Before balancing:
Training set class distribution:
 income
<=50K    11360
>50K      3700
Name: count, dtype: int64

Test set class distribution:
 income
<=50K    11360
>50K      3700
Name: count, dtype: int64

After balancing:
Training set shape: (7400, 11)
Training set class distribution:
 income
>50K     3700
<=50K    3700
Name: count, dtype: int64

Test set shape: (7400, 11)
Test set class distribution:
 income
>50K     3700
<=50K    3700
Name: count, dtype: int64

Saved balanced datasets to processed directory.