Initialization

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import os

#Creating directories
raw_data_dir = r"E:\AIML_Project\data\raw"
processed_dir = r"E:\AIML_Project\results\outputs"

In [2]:
#Loading the dataset

df = pd.read_csv("E:/AIML_Project/data/raw/adult.data", header=None)

display(df.head())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Data cleaning - Assigned to IT24102036

In [3]:
#Loading data from the adult_train_no_fnlwgt and adult_test_no_fnlwgt

df_train = pd.read_csv(os.path.join(processed_dir, 'IT24102085_Data_Formatting_train.csv'))
df_test = pd.read_csv(os.path.join(processed_dir, 'IT24102085_Data_Formatting_test.csv'))

#Displaying shapes and null counts before cleaning
print("Before dropping rows with nulls:")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)
print("\nMissing value counts (train):")
print(df_train.isna().sum())
print("\nMissing value counts (test):")
print(df_test.isna().sum())

#Replacing '?' with NaN in both datasets
df_train = df_train.replace('?', np.nan)
df_test = df_test.replace('?', np.nan)

print("\nAfter replacing '?' with NaN, missing value counts (train):")
print(df_train.isna().sum())
print("\nAfter replacing '?' with NaN, missing value counts (test):")
print(df_test.isna().sum())

#Dropping rows with NaN values
df_train = df_train.dropna()
df_test = df_test.dropna()

# Verifying shapes after dropping
print("\nAfter dropping rows with nulls:")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)
print("\nRemaining missing values (train):")
print(df_train.isna().sum().sum())
print("Remaining missing values (test):")
print(df_test.isna().sum().sum())

# Saving cleaned datasets
processed_dir = r"E:\AIML_Project\results\outputs"
df_train.to_csv(os.path.join(processed_dir, 'IT_24102036_cleaning_train.csv'), index=False)
df_test.to_csv(os.path.join(processed_dir, 'IT_24102036_cleaning_test.csv'), index=False)
print("\nSaved cleaned datasets to processed directory.")

Before dropping rows with nulls:
Training data shape: (32561, 15)
Test data shape: (16281, 15)

Missing value counts (train):
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

Missing value counts (test):
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

After replacing '?' with NaN, missing value counts (train):
age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

After replacing '?' with NaN, missing value counts (test):
age                 0
workclass         963
fnlwgt              0
education           0
education_num       0
marital_status      0
occupation        966
relationship        0
race                0
sex                 0
capital_gain        0
capital_loss        0
hours_per_week      0
native_country    274
income              0
dtype: int64

After dropping rows with nulls:
Training data shape: (30162, 15)
Test data shape: (15060, 15)

Remaining missing values (train):
0
Remaining missing values (test):
0

Saved cleaned datasets to processed directory.