Initialization

In [1]:
#Importing libraries

import pandas as pd
import numpy as np
import os

#Creating directories
raw_data_dir = r"E:\AIML_Project\data\raw"
processed_dir = r"E:\AIML_Project\results\outputs"

In [2]:
#Loading the dataset

df = pd.read_csv("E:/AIML_Project/data/raw/adult.data", header=None)

display(df.head())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Dimentional deduction - Assigned to IT24102055

In [3]:
# Load from previous (cleaning)
df_train = pd.read_csv(os.path.join(processed_dir, 'IT_24102036_cleaning_train.csv'))
df_test = pd.read_csv(os.path.join(processed_dir, 'IT_24102036_cleaning_test.csv'))

#Dropping the 'fnlwgt' column
print("Before dropping 'fnlwgt':")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)

df_train = df_train.drop(columns=['fnlwgt'])
df_test = df_test.drop(columns=['fnlwgt'])

print("After dropping 'fnlwgt':")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)

print("\nTraining columns:", df_train.columns.tolist())
print("Test columns:", df_test.columns.tolist())

# Save after all drops
processed_dir = r"E:\AIML_Project\results\outputs"
df_train.to_csv(os.path.join(processed_dir, 'IT_24102055_reduction_train(01).csv'), index=False)
df_test.to_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(01).csv'), index=False)
print("Saved reduced datasets to processed directory.")

Before dropping 'fnlwgt':
Training data shape: (30162, 15)
Test data shape: (15060, 15)
After dropping 'fnlwgt':
Training data shape: (30162, 14)
Test data shape: (15060, 14)

Training columns: ['age', 'workclass', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
Test columns: ['age', 'workclass', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
Saved reduced datasets to processed directory.

In [4]:
#Negative impact of "capital gain" and "capital loss" columns
#Reason:
# Calculate percentage of zeros
print("Training set:")
print("Capital Gain Zeros:", (df_train['capital_gain'] == 0).mean() * 100, "%")
print("Capital Loss Zeros:", (df_train['capital_loss'] == 0).mean() * 100, "%")
print("\nTest set:")
print("Capital Gain Zeros:", (df_test['capital_gain'] == 0).mean() * 100, "%")
print("Capital Loss Zeros:", (df_test['capital_loss'] == 0).mean() * 100, "%")

#In these two columns, there are percentages of 91.585% and 95.268% for capital gain and capital columns in the training set respectfully. And also 91.686% and 95.265% in test set respectfully. This affects the accuracy of the prediction that the trained model is going to make

Training set:
Capital Gain Zeros: 91.58543863139049 %
Capital Loss Zeros: 95.2688813739142 %

Test set:
Capital Gain Zeros: 91.68658698539177 %
Capital Loss Zeros: 95.26560424966799 %

In [5]:
#Dropping "capital gain" and "capital loss" columns
df_train = pd.read_csv(os.path.join(processed_dir, 'IT_24102055_reduction_train(01).csv'))
df_test = pd.read_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(01).csv'))

# Displaying shapes before dropping
print("Before dropping 'capital_gain' and 'capital_loss':")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)
print("\nTraining columns:", df_train.columns.tolist())

# Drop the 'capital_gain' and 'capital_loss' columns
df_train = df_train.drop(columns=['capital_gain', 'capital_loss'])
df_test = df_test.drop(columns=['capital_gain', 'capital_loss'])

# Displaying shapes after dropping
print("After dropping 'capital_gain' and 'capital_loss':")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)
print("\nTraining columns:", df_train.columns.tolist())

# Confirm column consistency
assert df_train.columns.equals(df_test.columns)

# Save updated datasets
processed_dir = r"E:\AIML_Project\results\outputs"
df_train.to_csv(os.path.join(processed_dir, 'IT_24102055_reduction_train(02).csv'), index=False)
df_test.to_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(02).csv'), index=False)
print("\nSaved datasets without 'capital_gain' and 'capital_loss' to processed directory.")

Before dropping 'capital_gain' and 'capital_loss':
Training data shape: (30162, 14)
Test data shape: (15060, 14)

Training columns: ['age', 'workclass', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
After dropping 'capital_gain' and 'capital_loss':
Training data shape: (30162, 12)
Test data shape: (15060, 12)

Training columns: ['age', 'workclass', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'hours_per_week', 'native_country', 'income']

Saved datasets without 'capital_gain' and 'capital_loss' to processed directory.

In [6]:
#Dropping 'education' column: education_num is a label encoded column of education

df_train = pd.read_csv(os.path.join(processed_dir, 'IT_24102055_reduction_train(02).csv'))
df_test = pd.read_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(02).csv'))

#Displaying shapes and columns before dropping
print("Before dropping 'education':")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)
print("\nTraining columns:", df_train.columns.tolist())

#Dropping the 'education' column
df_train = df_train.drop(columns=['education'])
df_test = df_test.drop(columns=['education'])

#Displaying shapes and columns after dropping
print("After dropping 'education':")
print("Training data shape:", df_train.shape)
print("Test data shape:", df_test.shape)
print("\nTraining columns:", df_train.columns.tolist())

#Confirming column consistency
assert df_train.columns.equals(df_test.columns), "Column names mismatch between train/test!"

#Saving updated datasets
processed_dir = r"E:\AIML_Project\results\outputs"
df_train.to_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(03).csv'), index=False)
df_test.to_csv(os.path.join(processed_dir, 'IT_24102055_reduction_test(03).csv'), index=False)
print("\nSaved datasets without 'education' to processed directory.")

Before dropping 'education':
Training data shape: (30162, 12)
Test data shape: (15060, 12)

Training columns: ['age', 'workclass', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'hours_per_week', 'native_country', 'income']
After dropping 'education':
Training data shape: (30162, 11)
Test data shape: (15060, 11)

Training columns: ['age', 'workclass', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'hours_per_week', 'native_country', 'income']

Saved datasets without 'education' to processed directory.